<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>密碼重設</title>
    <link rel="icon" href="/static/images/favicon.ico">
    <link href="/static/plugins/bootstrap-5.0.0-beta1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/master.css" rel="stylesheet">
</head>

<body>
    <form action="" method="post" class="forgot-password-form">
        {% csrf_token %}
        <h4>Reset Password</h4>
        <input type="text" name="username" placeholder="Input Your Username" class="forgot-password-input" />
        <input type="submit" value="RESET" class="login-button" />
        <span class="forgot-password-tips">{{forgot_password_tips}}</span>
        <a href="/login/" class="forgot-password-tips">Return Login</a>
    </form>
</body>
</html>